<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            <%= t('views.users.new.title') %>
            <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>

    <%= render 'form' %>
</article>
